@model ExIT.Models.Examination
@{
    ViewBag.Title = "ResultQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="content-title">
        <h1>Trắc Nghiệm: @ViewBag.SubjectName</h1>
    </div>
    <div id="question-number">
        <em>Kết quả kiểm tra</em>
    </div>
    <div id="test-content">
        <div id="ressult-table" class="panel-table">
            <ul class="header">
                <li>Tổng số câu hỏi</li>
                <li>Số câu đúng</li>
                <li>Thời gian làm bài</li>
                <li>Kết quả</li>
            </ul>
            <ul class="body">
                <li>@ViewBag.NumberOfQuestion</li>
                <li>@ViewBag.CorrectAns</li>
                <li>@ViewBag.Time</li>
                @if (ViewBag.Result != "Fail")
                {
                    <li style="color: green; font-weight: bold; font-family: Arial; font-size: 30px;">Đậu</li>
                }
                else
                {
                    <li style="color: red; font-weight: bold; font-family: Arial; font-size: 30px;">Rớt</li>
                }
            </ul>
        </div>

        @if (ViewBag.Result != "Fail")
        {
            <div id="final-result" style="color: green">Chúc mừng bạn, bạn đã vượt qua bài kiểm tra!</div>
        }
        else
        {
            <div id="final-result" style="color: red">Rất tiếc, bạn đã không vượt qua bài kiểm tra!</div>
        }
    </div>
    <div id="test-control">
        <div class="center-btn">
            <a class="btn-green" href="/Home/Index">Trở Về</a>
        </div>
    </div>
</div>

