USE [master]
GO
/****** Object:  Database [ExpIT]    Script Date: 9/29/2015 1:27:14 AM ******/
CREATE DATABASE [ExpIT] ON  PRIMARY 
( NAME = N'ExpIT', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ExpIT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ExpIT_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ExpIT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExpIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExpIT]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 9/29/2015 1:27:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[rank] [int] NOT NULL,
	[imgUrl] [nvarchar](50) NULL,
	[overview] [text] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Examination]    Script Date: 9/29/2015 1:27:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examination](
	[StudentID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[PraticalScore] [real] NULL,
	[ThesisScore] [real] NULL,
	[status] [int] NULL,
	[ThesisDoneTime] [nvarchar](50) NULL,
	[PraticalDoneTime] [nvarchar](50) NULL,
	[PracticalFile] [nvarchar](50) NULL,
 CONSTRAINT [PK_Examination] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registration]    Script Date: 9/29/2015 1:27:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/29/2015 1:27:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subject]    Script Date: 9/29/2015 1:27:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[information] [text] NOT NULL,
	[PraticalFile] [nvarchar](100) NOT NULL,
	[PraticalText] [nvarchar](100) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[NumberOfQuestion] [int] NOT NULL,
	[ThesisTime] [int] NOT NULL,
	[imgUrl] [nvarchar](50) NULL,
	[overview] [text] NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubjectAnswer]    Script Date: 9/29/2015 1:27:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectAnswer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[answer] [text] NOT NULL,
	[result] [bit] NOT NULL,
	[SubjectQuestionID] [int] NOT NULL,
 CONSTRAINT [PK_SubjectAnswer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubjectQuestion]    Script Date: 9/29/2015 1:27:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectQuestion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[question] [text] NOT NULL,
	[SubjectID] [int] NOT NULL,
 CONSTRAINT [PK_SubjectQuestion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 9/29/2015 1:27:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[rank] [int] NULL,
	[roleId] [int] NULL,
	[company] [nvarchar](50) NULL,
	[information] [text] NULL,
	[imgUrl] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[age] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([ID], [name], [rank], [imgUrl], [overview]) VALUES (1, N'Hướng Đối Tượng C# Cơ bản', 1, N'/Content/image/microsoft.png', NULL)
INSERT [dbo].[Course] ([ID], [name], [rank], [imgUrl], [overview]) VALUES (2, N'Hướng Đối Tượng C#', 2, N'/Content/image/microsoft.png', NULL)
INSERT [dbo].[Course] ([ID], [name], [rank], [imgUrl], [overview]) VALUES (3, N'Hướng Đối Tượng C# Nâng Cao', 3, N'/Content/image/microsoft.png', NULL)
SET IDENTITY_INSERT [dbo].[Course] OFF
INSERT [dbo].[Examination] ([StudentID], [SubjectID], [PraticalScore], [ThesisScore], [status], [ThesisDoneTime], [PraticalDoneTime], [PracticalFile]) VALUES (11, 1, 5, 10, 1, N'14:37', NULL, N'/Content/Upload/tuesday''speakinghung.rar')
INSERT [dbo].[Examination] ([StudentID], [SubjectID], [PraticalScore], [ThesisScore], [status], [ThesisDoneTime], [PraticalDoneTime], [PracticalFile]) VALUES (11, 3, 5, 10, 1, N'14:56', N'29/09/2015 01:08:S42', N'~/Content/Upload/tuesday''speakinghung.rar')
INSERT [dbo].[Examination] ([StudentID], [SubjectID], [PraticalScore], [ThesisScore], [status], [ThesisDoneTime], [PraticalDoneTime], [PracticalFile]) VALUES (11, 5, 6, 5, 1, N'14:54', N'29/09/2015 00:02:S31', N'~/Content/Upload/tuesday''speakinghung.rar')
INSERT [dbo].[Registration] ([StudentID], [CourseID], [status]) VALUES (11, 1, 1)
INSERT [dbo].[Registration] ([StudentID], [CourseID], [status]) VALUES (11, 2, 1)
INSERT [dbo].[Registration] ([StudentID], [CourseID], [status]) VALUES (18, 1, 0)
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [name]) VALUES (1, N'teacher')
INSERT [dbo].[Role] ([Id], [name]) VALUES (2, N'student')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([ID], [name], [information], [PraticalFile], [PraticalText], [TeacherID], [CourseID], [NumberOfQuestion], [ThesisTime], [imgUrl], [overview]) VALUES (1, N'Bai 1', N'https://www.youtube.com/v/kb_Ouy_YEH0', N'/Content/Practical/tuesday''speaking.docx', N'/Content/Practical/tuesday''speaking.docx', 15, 1, 1, 1, N'/Content/image/visual.png', N'haha')
INSERT [dbo].[Subject] ([ID], [name], [information], [PraticalFile], [PraticalText], [TeacherID], [CourseID], [NumberOfQuestion], [ThesisTime], [imgUrl], [overview]) VALUES (3, N'C2', N'https://www.youtube.com/v/kb_Ouy_YEH0', N'/Content/Practical/tuesday''speaking.docx', N'/Content/Practical/tuesday''speaking.docx', 15, 2, 1, 1, N'/Content/image/visual.png', N'hihi')
INSERT [dbo].[Subject] ([ID], [name], [information], [PraticalFile], [PraticalText], [TeacherID], [CourseID], [NumberOfQuestion], [ThesisTime], [imgUrl], [overview]) VALUES (4, N'C3', N'https://www.youtube.com/v/kb_Ouy_YEH0', N'/Content/Practical/tuesday''speaking.docx', N'/Content/Practical/tuesday''speaking.docx', 15, 3, 1, 1, N'/Content/image/visual.png', N'hehe')
SET IDENTITY_INSERT [dbo].[Subject] OFF
SET IDENTITY_INSERT [dbo].[SubjectAnswer] ON 

INSERT [dbo].[SubjectAnswer] ([ID], [answer], [result], [SubjectQuestionID]) VALUES (1, N'Managed code is the code that is compiled by the JIT compilers.', 0, 1)
INSERT [dbo].[SubjectAnswer] ([ID], [answer], [result], [SubjectQuestionID]) VALUES (2, N'Managed code is the code where resources are Garbage Collected.', 0, 1)
INSERT [dbo].[SubjectAnswer] ([ID], [answer], [result], [SubjectQuestionID]) VALUES (3, N'Managed code is the code that runs on top of Windows.', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[SubjectAnswer] OFF
SET IDENTITY_INSERT [dbo].[SubjectQuestion] ON 

INSERT [dbo].[SubjectQuestion] ([ID], [question], [SubjectID]) VALUES (1, N'Which of the following statements is correct about Managed Code?', 1)
INSERT [dbo].[SubjectQuestion] ([ID], [question], [SubjectID]) VALUES (2, N'Which of the following utilities can be used to compile managed assemblies into processor-specific native code?', 1)
INSERT [dbo].[SubjectQuestion] ([ID], [question], [SubjectID]) VALUES (3, N'Which of the following components of the .NET framework provide an extensible set of classes that can be used by any .NET compliant programming language?', 1)
SET IDENTITY_INSERT [dbo].[SubjectQuestion] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [username], [password], [address], [email], [rank], [roleId], [company], [information], [imgUrl], [name], [age]) VALUES (11, N'hung', N'1', N'', N'', 3, 2, NULL, NULL, NULL, N'viet hung', 20)
INSERT [dbo].[User] ([ID], [username], [password], [address], [email], [rank], [roleId], [company], [information], [imgUrl], [name], [age]) VALUES (15, N'teacher1', N'1', N'', N'', NULL, 1, NULL, N'good', N'/Content/image/user.png', N'teacher1', 20)
INSERT [dbo].[User] ([ID], [username], [password], [address], [email], [rank], [roleId], [company], [information], [imgUrl], [name], [age]) VALUES (16, N'teacher2', N'1', N'', N'', NULL, 1, NULL, N'very good', N'/Content/image/user.png', N'teacher2', 20)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Examination]  WITH CHECK ADD  CONSTRAINT [FK_Examination_Student1] FOREIGN KEY([StudentID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Examination] CHECK CONSTRAINT [FK_Examination_Student1]
GO
ALTER TABLE [dbo].[Examination]  WITH CHECK ADD  CONSTRAINT [FK_Examination_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Examination] CHECK CONSTRAINT [FK_Examination_Subject]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Course]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[User] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Student]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Course]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_User] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_User]
GO
ALTER TABLE [dbo].[SubjectQuestion]  WITH CHECK ADD  CONSTRAINT [FK_SubjectQuestion_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubjectQuestion] CHECK CONSTRAINT [FK_SubjectQuestion_Subject]
GO
ALTER TABLE [dbo].[SubjectQuestion]  WITH CHECK ADD  CONSTRAINT [FK_SubjectQuestion_SubjectAnswer] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SubjectAnswer] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubjectQuestion] CHECK CONSTRAINT [FK_SubjectQuestion_SubjectAnswer]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
